@charset "UTF-8";

body{
    background-color:#BBCDE5;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#639FAB;
}

h2{
    color: #1C5D99;
}

#principal{
    text-align: center;
    color:#222222;
    background-color: #1C5D99;
}


.basico{
    color: green;
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}