@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 1em;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
}

header > h1{
    flex: 0 0 200px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.3s;
main{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.478);
}

@media screen and (max-width: 580px){

    header, nav{
        flex-flow: column nowrap;
    }

    header > h1{
        flex-basis: 50px;
    }

    nav > a{
        width: 90vw;
    }

    
    
}
